" ----------------------------------------------------------------------
" Release vims setting script.
"
" Version: 0.0.0
" Author: Shohei Mukai
" Licence: MIT Licence
" ----------------------------------------------------------------------

" vim-hipchat settings
let g:HIPCHAT_DOMAIN = 'hipdomain'
let g:HIPCHAT_TOKEN = 'hiptoken'

" vim-pyimporter settings
let g:python_paths = ['/home/hoge', '/home/piyo']
let g:py_projects = {
    \'myproject': ['/home/bar'],
    \'yourproject': ['/home/foo']
    \}

